*{padding:0px; margin:0px;}
body{text-align:center; min-height:100vh; font-size:0px;}
img{width:100%;cursor:pointer;}
li{list-style:none;}
.mbfyww33{width:100%; height:100%; position:fixed; left:0px; top:0px; background:rgba(0,0,0,0.85); z-index:1000;}
.hgsdyyuw93{width: 5vh;height: 5vh;border: 4px solid #e3e3e3;border-top: 4px solid #3498db;border-radius: 50%;animation: naydf331 1s linear infinite;margin:auto; margin-top:47.5vh;}
@keyframes naydf331{0% { transform: rotate(0deg); }100% { transform: rotate(360deg); }}